@import 'variables';

.square {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .square__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            font-size: 16px;
        }

        span {
            display: block;
            margin-top: -30px;
            font-size: 36px;
            font-weight: 700;

            sup {
                font-size: 20px;
            }
        }
    }

    .square__img {
        display: flex;
        gap: 30px;
    }

    img {
        width: auto;
        height: auto;
    }
}

@media (max-width: 1680px) {
    .square {
        flex-direction: column;

        .square__text {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            p {
                padding-bottom: 20px;
            }
        }

        .square__img {
            gap: unset;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1480px) {
    .square {
        .square__img {
            flex-direction: column;
            gap: 30px;
        }
    }
}

@media (max-width: $xl) {
    .square {
        .square__text {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr 1fr;
            grid-auto-flow: column;
        }
    }
}

@media (max-width: $md) {
    .square {
        .square__text {
            p {
                font-size: 14px;
                padding-bottom: 10px;
            }

            span {
                margin-top: -50px;
                font-size: 24px;

                sup {
                    font-size: 16px;
                }
            }
        }

        .square__img {
            gap: 20px;
        }
    }
}

@media (max-width: $sm) {
    .square {
        .square__text {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);

        }

        .square__img {
            gap: 10px;
        }
    }
}

@media (max-width: $e_sx) {
    .square {
        .square__text {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            text-align: center;
        }

        .square__img {
            gap: 10px;
        }
    }
}